/* .card {
    border-radius: 2.5vw;
    padding: 2vw;
    text-align: center;
    color: #fff;
    width: 20vw;
    height: 50vh;
    background-color: #272a2c;
    box-shadow: 5px 5px 30px #008bfd;
    
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#product-image{
    width: 15vw;
    height: 20vh;
    border-radius: 2.5vw;
    box-shadow: 0 0 10px #ccc;
}


#attribution {
    position: fixed;
    bottom: 0;
    left: 0;
}

#cat-icon {
 height: 15vh;
 width: auto;
 margin-right: 1rem;
 flex-shrink: 0;
}

.headerDiv {
    width: 100%;
    margin-left: -1vw;
    margin-bottom: 40vh;
    background-color: lightblue;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 786px) {
    .headerDiv {
        justify-content: center;
        flex-direction: column;
    }

    #cat-icon {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    /* button {
        margin-left: 0;
        margin-bottom: 0.5rem;
    } */
/* }

button {
background-color: darkslategray;
color: white;
margin-left: 1rem;
padding: 0.5rem 1rem;
border: none;
border-radius: 12px;
cursor: pointer;
transition: background-color 0.3s ease;
}


button:hover {
    background-color: rgb(36, 19, 146);
}

NavLink {
    margin-left: 1rem;
    text-decoration: none;
    color: white
}

#welcome {
    text-align: center;
    margin-top: 10vh;
}

#user-avatar {
    height: 10vh;
    width: auto;
}  */





body {
    background-color: #65CCB8;
}

 .cart {
    background-color: red;
}

/* button {
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    padding: 1vh;
    font-weight: bolder;
}

button:hover {
    color: #3b945e;
} */

#logout-button {
    flex-grow: 1;
    margin-inline: 1vw;
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

#logout-button:hover {
    color: #3b945e;
}

#bio {
    background-color: crimson;
}

#home-login-links{
    background-color: #3B945E;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-home {
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 1vw;
    font-weight: bolder;
    padding: 1.5vh;
    margin-inline: 1vw;
}

.login-home:hover {
    color: #3b945e;
}

.signup-home {
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 1vw;
    font-weight: bolder;
    padding: 1.5vh;
    margin-inline: 1vw;

}

.signup-home:hover {
    color: #3b945e;
}

.nav-buttons {
    margin-inline: 1vw;
    padding: 2vh;
    flex-grow: 1;
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-buttons:hover {
    color: #3b945e;
}


.login-div { 
    /* background-color: #182628; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}

#loginForm {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 2vh solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 10px;
}

.headerDiv {
    background-color: #f2f2f2;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3vw;
    padding: 2vw;
}

#cat-icon {
    flex-grow: 1;
    max-width: 5vw;
    height: 100%;
    transition: transform 0.3s ease-out;
}

#cat-icon:hover {
    transform: rotate(12deg);
}

#user-avatar {
    background-color: indigo;
}

.edit-form {
    background-color: green;
}

.cart-item-image {
    background-color: orange;
    width: 15vw;
    height: 15vh;
}

.edit-profile {
    background-color: pink;
    padding: 3vw;
}

.card {
    background-color: blue;
    height: 40vh;
    width: 25vw;
    border: 5px solid black;
}

#product-image {
    width: 15vw;
    height: 15vh;
}

.signup-div {
    /* background-color: #182628; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding: 2em; */
    border-radius: 10px;
}

#signup-form {
    text-align: center;
    background-color: #65CCB8;
    border: #182628 2vh solid;
    width: 50%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}


.formInput {
    text-align: center;
    font-weight: bolder;
    padding: 1vh;
    border-radius: 3vw;
    margin-top: 10%;
    background-color:  #65CCB8;
    color: #f2f2f2;
}

.formButton {
    text-align: center;
    font-weight: bolder;
    padding: 1vh;
    margin: auto;
    margin-top: 10%;
    width: 40%;
    border-radius: 3vw;
    background-color:  #3b945e;
    color: #f2f2f2;
}



.products-list {
    background-color: pink;
}

.cart-item-card {
    background-color: blue;
    height: 40vh;
    width: 25vw;
    border: 5px solid black;
}


