body {
    background-color: #65CCB8;
}


#logout-button {
    flex-grow: 1;
    margin-inline: 1vw;
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

#logout-button:hover {
    color: #3b945e;
}


#bio {
    padding: 2rem;
    background-color: #18262b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin: 20vh auto;
    border-radius: 2vh;
    color: #f2f2f2;
}



#username:hover {
    color: #3b945e;
}

#home-login-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.user-buttons {
    background-color: #007bff;
    color: #f2f2f2;
    border-radius: 5px;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
    min-width: 40%;
}

.user-buttons:hover {
    background-color: #0d63bf;
}



.login-signup-home {
    background-color: #007bff;
    color: #f2f2f2;
    border-radius: 5px;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    margin: 0.25rem;
    min-width: 10vw;
    border: none;
    cursor: pointer;
}

.login-signup-home:hover {
    background-color: #0255ad;
}



.nav-buttons {
    margin-inline: 1vw;
    padding: 2vh;
    flex-grow: 1;
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-buttons:hover {
    color: #3b945e;
}


.login-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}

#loginForm {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 2vh solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 10px;
}

.headerDiv {
    background-color: #f2f2f2;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3vw;
    padding: 2vw;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

#cat-icon {
    flex-grow: 1;
    max-width: 5vw;
    height: 100%;
    transition: transform 0.3s ease-in;
}

#cat-icon:hover {
    animation: bounce 0.6s infinite;
    transform: scale(1.9);
}

#user-avatar {
    border-radius: 50%;
    height: auto;
    width: 50%;
    max-width: 150px;
    margin-bottom: 3rem;
}

.edit-form {
    background-color: green;
}

.cart-item-image {
    width: 23vw;
    height: 23vh;
    border-radius: 2vh;
    margin-right: 8vw;
}

.edit-profile {
    background-color: pink;
    padding: 3vw;
}

.card {
    display: flex;
    align-items: center;
    background-color: #182628;
    height: 25vh;
    width: 80vw;
    border: 2px solid black;
    border-radius: 2vh;
    transition: transform 0.3s ease;
    text-align: center;
    color: #f2f2f2;
    padding: 2vh;
    margin-bottom: 5vh;
}

.card:hover {
    transform: scale(1.05);
}

#product-image {
    width: 23vw;
    height: 23vh;
    border-radius: 2vh;
    margin-right: 3vw;
}

.signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}

#signup-form {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 2vh solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 10px;
}


.formInput {
    text-align: center;
    font-weight: bolder;
    padding: 1vh;
    border-radius: 3vw;
    margin-top: 10%;
    background-color:  #65CCB8;
    color: #f2f2f2;
}

.formButton {
    text-align: center;
    font-weight: bolder;
    padding: 1vh;
    margin: auto;
    margin-top: 10%;
    width: 40%;
    border-radius: 3vw;
    background-color:  #3b945e;
    color: #f2f2f2;
}

#header-message {
    color: #3b945e;
}

.products-list {
    padding: 4vh;
    margin-top: 30vh;
    background-color: #2d784b;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 3vh;
}

.cart {
    padding: 3vh;
    margin-top: 5vh;
    background-color: #3b945e;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    border-radius: 3vh;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-item-card {
    background-color: #182628;
    height: 25vh;
    width: 80vw;
    border: 5px solid black;
    border-radius: 2vh;
    transition: transform 0.3s ease;
    color: #f2f2f2;
    padding: 2vh;
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

#cart-item-input {
    width: 3vw;
    font-weight: bolder;
    color: #f2f2f2;
    padding: 1vh;
    margin-left: 2vw;
    background-color:#3b945e;
    border-radius: 1vw;
    text-align: center;
    margin-bottom: 1vh;
}


#cart-item-button {
background-color: #007bff;
color: #f2f2f2;
padding: 10px 20px;
border: none;
margin-left: 3vw;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

#cart-item-button:hover {
background-color: #0056b3;
}


.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

#checkout {
    text-align: center;
    font-weight: bolder;
    padding: 2vh;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vw;
    background-color:  #182628;
    color:#f2f2f2;
}

#total-price {
    margin-top: 15vh;
    margin-bottom: 2vh;
    color: #f2f2f2;
    font-weight: bolder;

}

.cart-item-card:hover {
    transform: scale(1.05);
}

.cart-item-title {
    margin-right: 3vw;
}

.cart-item-price {
    margin-right: 3vw;
}




.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    padding-left: 3vw;
    margin-left: 2vw;
    margin-bottom: 3vh;
}


.card-button {
    background-color: #007bff;
    color: #f2f2f2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.card-button:hover {
    background-color: #0c60ba;
}

.error {
    color: rgb(255, 0, 0);
    font-size: xx-large;
}

::placeholder {
    color:#f2f2f2;
    opacity: 1;
}