 /* body {
    background-color: #65CCB8;
}


 #bio {
    padding: 2rem;
    background-color: #18262b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 90vh;
    width: 100%;
    max-width: 600px;
    margin: 5vh auto;
    border-radius: 2vh;
    color: #f2f2f2;
} 


#home-login-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}

#signup-form {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 2vh solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 10px;
}


.login-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}

#loginForm {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 2vh solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 10px;
}


.formInput {
    text-align: center;
    font-weight: bolder;
    padding: 1vh;
    border-radius: 3vw;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color:  #65CCB8;
    color: #f2f2f2;
}

.formButton {
    text-align: center;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    margin: auto;
    margin-top: 3%;
    width: 40%;
    border-radius: 1vw;
    border:#18262b 1px solid;
    min-width: 10%;
    max-width: 40%;
    background-color:  #3b945e;
    color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 3%;
}

.formButton:hover {
    background-color:#182628;
    border: #f2f2f2 solid 1px;
}


    

.login-signup-home {
    background-color: #007bff;
    color: #f2f2f2;
    border-radius: 5px;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    margin: 0.25rem;
    min-width: 10vw;
    border: none;
    cursor: pointer;
}

.login-signup-home:hover {
    background-color: #0255ad;
}


#home-bio {
    padding: 4vh;
    margin-top: 20vh;
    background-color: #2d784b;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 3vh;
    margin-bottom: 40vh;
}


#user-avatar {
    border-radius: 50%;
    height: auto;
    width: 50%;
    max-width: 180px;
    margin-bottom: 4rem;
}



.user-buttons {
    background-color: #f2f2f2;
    color: #182628;
    border-radius: 5px;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    border: #f2f2f2 solid 1px;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    min-width: 20%;
    max-width: 40%;
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-buttons:hover {
    background-color: #182628;
    color: #f2f2f2;
}

#attribution {
    position: relative;
    top: 50vh;
} 



.headerDiv {
    background-color: #f2f2f2;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3vw;
    padding: 2vw;
    min-width: max-content;
}

#header-message {
    color: #3b945e;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

#cat-icon {
    flex-grow: 1;
    max-width: 5vw;
    margin-right: 5vw;
    height: 100%;
    transition: transform 0.3s ease-in;
}

#cat-icon:hover {
    animation: bounce 0.6s infinite;
}


.loadingSection {
    margin: auto;
    margin-top: 30vh;
    text-align: center;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    display: inline-block;
    border: 1rem solid #f2f2f224;
    border-left-color:#0255ad;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 0.4s linear infinite;
}

.load {
    color:#f2f2f2;
    font-size: xx-large;
}

.nav-buttons {
    margin-inline: 1vw;
    padding: 2vh;
    flex-grow: 1;
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-buttons:hover {
    color: #3b945e;
}

.error {
    color: rgb(177, 22, 22);
    font-size: xx-large;
    list-style: none;
}

::placeholder {
    color:#f2f2f2;
    opacity: 1;
}

#home-icon {
    margin-right: 0.5rem;
}

#logout-icon {
    margin-right: 0.5rem;
}

#cart-icon {
    margin-right: 0.5rem;
}

#product-icon {
    margin-right: 0.5rem;
}

#username:hover {
    color: #3b945e;
}
    
#title-edit:hover {
    color:#3b945e;
}

#cart-quantity {
    font-weight: bold;
}

 */






.edit-form {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 2vh solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 3vw;
}

.cart-item-image {
    width: 18vw;
    height: 23vh;
    border-radius: 2vh;
    margin-right: 3vw;
}

.edit-profile {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 3vw;
    background-color:#3b945e;
}



.card {
    display: flex;
    align-items: center;
    background-color: #182628;
    min-height: 25vh;
    max-height: 35vh;
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    border: 2px solid black;
    border-radius: 2vh;
    transition: transform 0.3s ease;
    text-align: center;
    color: #f2f2f2;
    padding: 3vh;
    margin-bottom: 5vh;
}

.card:hover {
    transform: scale(1.05);
}

#product-image {
    width: 18vw;
    height: 23vh;
    border-radius: 2vh;
    margin-right: 3vw;
}

.products-list {
    padding: 4vh;
    margin-top: 20vh;
    background-color: #2d784b;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 3vh;
    margin-bottom: 40vh;
}

.cart {
    padding: 8vh;
    margin-top: 20vh;
    margin-bottom: 40vh;
    background-color: #2d784b;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 3vh;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-item-card {
    background-color: #182628;
    height: 25vh;
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    border: 5px solid black;
    border-radius: 2vh;
    transition: transform 0.3s ease;
    color: #f2f2f2;
    padding: 3%;
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

#cart-item-input {
    width: 1.8vw;
    font-weight:bold;
    color: #f2f2f2;
    padding: 0.7rem 1.5rem;
    margin-left: 1vw;
    border: none;
    min-width: 10%;
    max-width: 20%;
    background-color:#3b945e;
    border-radius: 1vw;
    text-align: center;
}


#cart-item-button {
background-color: #f2f2f2;
color: #182628;
padding: 0.75rem 1.5rem;
border: none;
margin-left: 2vw;
min-width: 10%;
max-width: 40%;
border-radius: 1vw;
cursor: pointer;
transition: background-color 0.3s ease;
}


#cart-item-button:hover {
background-color: #182628;
color: #f2f2f2;
border: #f2f2f2 solid 1px;
}



.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}

#checkout {
    text-align: center;
    font-weight: bolder;
    padding: 2vh;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vw;
    min-width: 200px;
    background-color: #f2f2f2;
    color: #182628;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout:hover {
    background-color: #182628;
    color: #f2f2f2;
    border: #f2f2f2 solid 1px;
}
    



#total-price {
    margin-top: 15vh;
    margin-bottom: 2vh;
    color: #f2f2f2;
    font-weight: bolder;

}

.cart-item-card:hover {
    transform: scale(1.05);
}

.cart-item-title {
    margin-right: 1.5vw;
}

.cart-item-price {
    margin-right: 1.5vw;
}




.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    padding-left: 3vw;
    margin-left: 2vw;
    margin-bottom: 3vh;
}


.card-button {
    background-color: #18262b;
    color: #f2f2f2;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    min-width: 100px;
    max-width: 200px;
    transition: background-color 0.3s ease;
    border: #f2f2f2 solid 1px;
}

@media only screen and (max-width: 600px){
    .card-button {
        padding: 0.4em;
        font-size: 0.9em;
    }
} 

.card-button:hover {
    background-color: #f2f2f2;
    color:#18262b;
}





#delete-icon-cart {
    margin-left: 0.5rem;
    vertical-align:top;
}



#delete-icon-user {
    margin-left: 0.5rem;
    vertical-align:top;
}

#edit-icon-user {
    margin-left: 0.7rem;
    vertical-align:top;
}

#add-to-cart {
    vertical-align:top;
    margin-right: 0.5rem;
}



.success {
    text-align: center;
    color: #f2f2f2;
    padding: 3vw;
    background-color:#2d784b;
    border-radius: 2vh;
    width: fit-content;
    margin: 40vh auto;
}

.cancel {
    text-align: center;
    color: #f2f2f2;
    padding: 3vw;
    background-color:#2d784b;
    border-radius: 2vh;
    width: fit-content;
    margin: 30vh auto;
}

.navigate-back {
    background-color: #18262b;
    color: #f2f2f2;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    min-width: 50px;
    max-width: 200px;
    transition: background-color 0.3s ease;
    border: #f2f2f2 solid 1px;
}

.navigate-back:hover {
    background-color: #f2f2f2;
    color:#18262b;
}




.login-signup-home {
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 1vw;
    font-weight: bolder;
    padding: 0.9rem 1.5rem;
    margin-bottom: 2vh;
    margin: 5vh auto;
    min-width: 20vw;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: #f2f2f2 solid 1px;
}

.login-signup-home:hover {
    background-color: #f2f2f2;
    color:#18262b;
}



.login-signup-home {
    background-color: #007bff;
    color: #f2f2f2;
    border-radius: 5px;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    margin: 0.25rem;
    min-width: 10vw;
    border: none;
    cursor: pointer;
}

.login-signup-home:hover {
    background-color: #0255ad;
}


.login-signup-lock {
    margin-right: 0.5rem;
}













/******************************* starting here is the responsive version  ********************************************/ 



body {
    background-color: #65CCB8;
    padding: 0.1rem 2rem;
}


#user-avatar {
    border-radius: 50%;
    height: auto;
    width: 50%;
    margin: auto;
    max-width: 50%;
    margin-bottom: 2rem;
    padding: 3rem;
}


.error {
    color: rgb(177, 22, 22);
    font-size: xx-large;
    list-style: none;
}

::placeholder {
    color:#f2f2f2;
    opacity: 1;
}


#bio {
    background-color: #182628;
    min-height: 90vh;
    max-width: 600px;
    width: 100%;
    margin: 5vh auto;
    color: #f2f2f2;
    border-radius: 2em;
    font-size: 80%;
}

#home-bio {
    margin-top: 10rem;
    background-color:#3b945e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    padding: 2rem;
    text-align: center;
}

.user-buttons {
    background-color: #f2f2f2;
    color: #182628;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    border: #f2f2f2 solid 1px;
    cursor: pointer;
    margin-inline: 1rem;
    margin-top: 3.5rem;
    margin-bottom: 0.3rem;
    min-width: 7rem;
    max-width: 40%;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-buttons:hover {
    background-color: #182628;
    color: #f2f2f2;
}

#username:hover {
    color: #3b945e;
}

#title-edit:hover {
    color:#3b945e;
}

#cart-quantity {
    font-weight: bold;
}

.headerDiv {
    background-color: #f2f2f2;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2em;
    padding: 2vw;
    margin: 0 auto;
} 

.headerDiv-logged-out {
    background-color: #f2f2f2;
    border-radius: 2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin: 0 auto;
} 

#header-message {
    margin: auto;
    text-align: center;
    color: #3b945e;
}


.nav-buttons {
    min-width: 15rem;
    padding: 2vh;
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 3vw;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons:hover {
    color: #3b945e;
}

.nav-links {
    text-decoration: none;
}


#home-icon {
    margin-right: 0.5rem;
}

#logout-icon {
    margin-right: 0.5rem;
}

#cart-icon {
    margin-right: 0.5rem;
}

#product-icon {
    margin-right: 0.5rem;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}


#cat-icon {
    flex-grow: 1;
    max-width: 3rem;
    margin-right: 1rem;
    height: 100%;
    transition: transform 0.3s ease-in;
}

#cat-icon:hover {
    animation: bounce 0.6s infinite;
}


#cat-icon-logged-out {
    margin: auto;
    height: 5em;
    transition: transform 0.3s ease-in;
    margin-bottom: 2rem;
}

#cat-icon-logged-out:hover {
    animation: bounce 0.6s infinite;
}

#home-login-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.login-signup-home {
    background-color: #18262b;
    color: #f2f2f2;
    border-radius: 1rem;
    font-weight: bolder;
    padding: 0.9rem 1.5rem;
    margin-bottom: 2vh;
    margin: 2rem auto;
    min-width: 10rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: #f2f2f2 solid 1px;
}

.login-signup-home:hover {
    background-color: #f2f2f2;
    color:#18262b;
}

#attribution {
    position: relative;
    top: 50vh;
} 


.loadingSection {
    margin: auto;
    margin-top: 30vh;
    text-align: center;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    display: inline-block;
    border: 1rem solid #f2f2f224;
    border-left-color:#0255ad;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 0.4s linear infinite;
}

.load {
    color:#f2f2f2;
    font-size: xx-large;
}


.login-div { 
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#loginForm {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 1rem solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2em;
    border-radius: 2rem;
}


.signup-div {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#signup-form {
    font-weight: bolder;
    color: #f2f2f2;
    text-align: center;
    background-color: #182628;
    border: #f2f2f2 1rem solid;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2em;
    border-radius: 2em;
}


.formInput {
    text-align: center;
    font-weight: bolder;
    padding: 1em;
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color:  #65CCB8;
    color: #f2f2f2;
}

.formButton {
    text-align: center;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    margin: auto;
    margin-top: 3%;
    width: 40%;
    border-radius: 1rem;
    border:#18262b 1px solid;
    min-width: 9rem;
    background-color:  #3b945e;
    color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 3%;
}

.formButton:hover {
    background-color:#182628;
    border: #f2f2f2 solid 1px;
}


@media (max-width: 768px) {
    .headerDiv {
        padding: 1em;
        flex-direction: column;
        border-radius: 2em;
    }


    #cat-icon {
        height: 4rem;
        margin: auto;
        margin-bottom: 1rem;
    }

    .nav-buttons {
        margin-bottom: 0.5rem;
        min-width: 9rem;
    }

    .formButton {
        width: 40%;
    }

} 